body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

img{
    height: auto;
    width: 300px;
}

h3{
    background-color: bisque;
}

.return{
    font-size: 15px;
}