body {
    background-color: wheat;
}

h1{
    background-color: royalblue;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    text-align: center;
    margin: auto 8%;
}

button{
    display: block;
    margin: 8% auto;
    padding: 30px;
}

